doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/cerulean.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
    body
        div.navbar.navbar-default.navbar-fixed-top
            div.container
                div.navbar-header
                    a.navbar-brand(href="../") Gruppe7
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-main")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                div.navbar-collapse.collapse#navbar-main
                    ul.nav.navbar-nav
                        li.dropdown
                            a(href="../user") Users
                        li.dropdown
                            a(href="../workout") Workouts
                        li.dropdown
                            a(href="../exercise") Exercises

        div.container
            block content